* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.mobile-list {
    display: none;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: all .3s ease-in-out;
}

.navbar a {
    color: black;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 30px 35px;
}

.navbar li a {
    padding: 0px 14px;
    letter-spacing: 3.5px;
    color: rgb(255, 255, 255);
}

.scrolled {
    background-color: #010003c2;
    box-shadow: 0px 4px 44px black;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in-out;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    color: #fff;
}

.content h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

.content p {
    font-family: 'Poppins', sans-serif;
}

.buttons button {
    width: 200px;
    padding: 15px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {
    background-image: linear-gradient(to right, transparent 50%, #fff 50%);
    background-size: 200%;
    background-position: 0%;
    transition: all .5s;
}

.btn:hover {
    color: black;
    background-position: 100%;
}

#sobre {
    background-color: #eee;
}

#sobre h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.infopessoal {
    display: flex;
}

.infopessoal h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;   
}

.right {
    width: 50%;
    height: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;

}

.right p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.spanp {
    color: crimson;
}

.right i {
    padding: 0px 24px;
    transition: all .3s;
}

.right i:hover {
    transform: scale(1.5);
}

.left {
    width: 50%;
    height: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.image {
    width: 600px;
    height: 300px;
    background-image: url(./img/sol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.container {
    padding: 50px;
    background-color: #13293d;
    overflow: hidden;
}

.container h1{
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.0rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.container h2{
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.container p {
    color: #eee;
    font-family: 'Poppins', sans-serif;
}

.list i {
    margin-left: 20px;
}

#html-icon {
    margin-left: 0;
}

.wave-container img {
   background-color: #eee;
   position: absolute;
   top: 0;
}

#conhecimento {
    background-color: #272727;
    position: relative;
}

.title2 {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    z-index: 5;
    color: #43ABCD;
}

.container {
    margin: 6rem;
    z-index: 3;
    background-color: #272727;
}

.animate {
    width: 800px;
    height: 800px;
}

.conhecimento {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list p {
    color: #eee;
}

#projetos {
    background-color: #272727;
    padding: 20px;
}

#projetos h1 {
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.0rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 50px;
}

#container-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.cards-project {
    width: 20rem;
    height: 30rem;
    background-color: #272727;
    position: relative;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 20px 20px 30px black;
    transition: all .4s ease-in-out;
    margin: 60px 30px;
}

.cards-project:hover {
    box-shadow: none;
}

.imageproject{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #5E3EA1;
    border: 3px solid #fff;
    padding: 10px;
    transition: all 1s;
    margin-bottom: 10px;
    
}

.imageproject:hover {
    padding: 0;
}

.cards-project h3, h5 {
    text-transform: uppercase;
    color: #5E3EA1;
}

.cards-project hr {
    width: 100%;
    border-color: #5E3EA1;
    margin-bottom: 10px;
}

.cards-project p {
    color: #eee;
    margin-bottom: 10px;
}

.cards-project a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    background-color: #5E3EA1;
    color: #eee;
    border-radius: 2px;
    transition: all .4s;
}

.cards-project a:hover {
    background-color: #4b3181;
}

#contato {
    position: relative;
    height: 950px;
    background-image: url(./img/contato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    width: 70%;
    max-width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
}

.card h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.textfield input {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #eee;
}

.card input[type="submit"] {
    margin: 40px 0px;
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #eee;
    transition: all .3s;
}

.card input[type="submit"]:hover {
    background-color: #aaa;
}

#contato{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 160px;
    padding-right: 20px;
    padding-left: 20px;
}

#contato p {
    font-family: 'Poppins', sans-serif;
    color: #eee;
    background-color: rgb(26, 26, 26);
    padding: 10px;
    max-width: 400px;
    text-align: center;
}

footer {
    width: 100%;
    height: 57px;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#github {
    margin-left: 0;
}

footer i {
    margin-left: 20px;
    color: #313131;
    transition: all .3s;
}

footer i:hover {
    color: rgb(36, 129, 134);
}

@media (max-width: 1640px) {
    #container-project {
        flex-direction: column;
    }

    #projetos {
        padding: 0;
    }

    .cards-project {
        width: 26rem;
        height: 32rem;
    }
}

@media (max-width: 1418px) {
    .btn {
        background-image: none;
        background-size: auto;
        transition: none;
    }

    .btn:hover {
        color: #fff;
    }
    
    .left {
        display: none;
    }

    .right {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .animate {
        width: 400px;
        height: 400px;
    }

    .container h1, h2 {
        font-size: 1.7rem;
    }

    .conhecimento {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .projectcontent {
        width: 600px;
        height: 300px; 
    }

    .animateproject {
        width: 500px;
        height: 500px;
        margin: 20px 0px;
        float: right;
    }

    .cards-project {
        width: 26rem;
        height: 32rem;
    }
}

@media (max-width: 940px) {
    .projectcontent {
        width: 450px;
        height: 250px;
    }

    .animateproject {
        width: 400px;
        height: 400px;
    }

    .container {
        margin: 0;
    }

    .cards-project {
        width: 16rem;
        height: 32rem;
    }
}

@media (max-width: 625px) {
    #home {
        background-attachment: scroll;
    }
    
    .navbar {
        display: none;
    }

    .menu {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        right: 25px;
        box-shadow: 0px 10px 50px #273036 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 12;
        transition: all .7s ease;
        overflow: visible;
    }

    .menu::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid white;
        animation: menu_pulse 1s ease infinite;
    }

    .container {
        padding: 0;
    }

    @keyframes menu_pulse {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(1.1);
        }
    }

    .change {
        animation: pulse .8s;
    }

    @keyframes pulse {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .mobile-list{
        width: 100vw;
        height: 100vh;
        background-color: #272727;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 11;
        margin: 100%;
        transition: all .6s;
    }

    .open {
        margin: 0;
    }

    .mobile-list a {
        display: inline-block;
        margin-bottom: 30px;
        color: #eee;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        transition: all .4s ease;
    }

    .mobile-list a:hover {
        color: #43A3CD;
    }

    .bar {
        width: 20px;
        height: 2px;
        background-color: #eee;
        border-radius: 20px;
        margin-bottom: 3px;
        transition: all .6s;
    }

    .change .bar {
        position: absolute;
    }

    .change #bar1  {
        transform: rotate(45deg);
    }

    .change #bar2  {
        opacity: 0;
    }

    .change #bar3  {
        transform: rotate(-45deg);
    }

    .projectcontent {
        width: 100%;
        height: 170px;
        margin: 0;
    }

    .animateproject {
        width: 200px;
        height: 200px;
        float: none;
    }

    footer {
        height: 40px;
    }

}

@media (max-width: 418px) {
    .animate {
        width: 300px;
        height: 300px;
    }
}

